backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
boto==2.49.0
boto3==1.9.125
botocore==1.12.125
bs4==0.0.1
bz2file==0.98
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
DAWG-Python==0.7.2
decorator==4.4.0
docopt==0.6.2
docutils==0.14
docx==0.2.4
Flask==1.0.2
future==0.17.1
gensim==3.7.1
idna==2.6
imutils==0.5.2
indic-transliteration==1.7.8
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
jsonpickle==1.1
kiwisolver==1.0.1
lxml==4.3.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mysqlclient==1.4.2.post1
networkx==2.2
nltk==3.4
numpy==1.16.2
opencv-python==4.0.0.21
pdf2image==1.5.1
pdfkit==0.6.1
Pillow==9.3.0
pycairo==1.16.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.3.1
pytesseract==0.2.6
python-constraint==1.4.0
python-dateutil==2.8.0
python-docx==0.8.10
pyxdg==0.25
regex==2019.3.12
requests==2.21.0
s3transfer==0.2.0
sanskrit-parser==0.0.2
sanskrit-util==0.1.1.dev2
scipy==1.2.1
selenium==3.141.0
sentencepiece==0.1.81
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.8.0
soupsieve==1.9
splinter==0.10.0
SQLAlchemy==1.0.11
tinydb==3.13.0
transliterate==1.10.2
urllib3==1.24.1
Werkzeug==0.15.1
